@import 'utils/_typography.scss';

//colors
$white: #ffffff;
$black: #10182a;
$orange: #ff721b;
$dark: #313639;
$gray: #707479;
$whitesmoke: #f2f3f5;
$blue: #4367b2;
$gainsboro: #e4e4e4;
$oldlace: #fef9e8;
$lavender: #e5e7eb;
$red: #ff5a5a;
$green: #01bf7c;
$yellowish: #ffecd0;
$brown: #904306;
$light-gray: #878b94;
$modal-color: #E4E5EA;




//status color
$pending: #ff8900;
$awaiting:#4d8fca;
$open: #d7e233;
$fulfilled:#5dc28b ;
$initial:#f4cb77 ;
$flagged:#e45646 ;
$closed:#868a8e ;
$refund:#4ed34a ;
$released:#2995b5 ;
$stop:#cf347c;

//status tag color
$pending-tag: #F5DBC5;
$awaiting-tag: #CAE1FE;
$initial-tag: #ffe7b5;
$open-tag: #EBEF97;
$fulfilled-tag: #b4edce;
$flagged-tag: #F0C5BE;
$closed-tag: #DADBDC;
$refund-tag: #CEEFC1;
$release-tag: #caf3ff;
$stop-tag: #ECD3D2;


//text color
$pending-text-color : #b74803;
$awaiting-text-color: #29396d;
$initial-text-color: #60450f;
$open-text-color: #51540c;
$fulfilled-text-color: #2b4624;
$flagged-text-color: #951204;
$closed-text-color: #474545;
$refund-text-color: #084c05;
$release-text-color: #0a485a;
$stop-text-color: #a72461;


//Font-sizes
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 24px;
$font-size-6: 26px;
$font-size-7: 28px;
$font-size-8: 32px;
$font-size-md: 26px;
$font-size-small: 20px;
$font-size-smaller: 22px;
$font-size-large: 40px;
$font-size-largest: 48px;
$font-size-max: 64px;

//border radius
$border-radius-1: 2px;
$border-radius-2: 4px;
$border-radius-md: 16px;
$border-radius-lg: 24px;


//breakpoints
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;


@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
@mixin  mobile {
    @media (min-width: #{$tablet-width}){
        @content;
    }
}

@mixin tablet {
    @media(min-width: #{$mobile-width}){
        @content;
    }
}

@mixin mobileAndTablet{
    @include mobile{
        @content;
    }
    @include tablet{
        @content;
    }
}
