.list{
    &-header{
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: $border-radius-2;
        border-top-right-radius: $border-radius-2;
        background-color: $lavender;
        padding: 12px 24px;
        box-shadow: 0 10px 20px 0 rgba(231, 231, 231, 0.5);

        .nsForm-input{
            width: 400px;
            background-color: $white;
            height: 32px;
            margin: 0px;
            font-size: $font-size-1;
        }

        &__actions{
            display: flex;
            flex-direction: row;

        }

        &__action{
            min-width: 104px;
            width: auto;
            height: 32px;
            border-radius: $border-radius-2;
            background-color: rgb(209, 211, 219);
            margin: 0px 8px;
            padding: 0px 16px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &--alt{
                background-color: $gray;
            }

            &-text{
                font-size: $font-size-1;
                font-weight: 700;
                color: $light-gray;

                &--alt{
                    color: $white;
                }
            }
            &:first-child{
                margin-left: 0px;
            }
            &:last-child{
                margin-right: 0px;
            }

            &-icon{
                margin-right: 8px;
            }
        }

    }

    &-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 24px;

        &-text{
            font-size: $font-size-2;
            color: $light-gray;

            &-alt{
                color: $black;
                font-weight: 600;
            }
        }

        &__pagination{
            display: flex;
            flex-direction: row;
            align-items: center;

            &-page-number{
                margin: 0px 8px;
            }
            &-next{
                margin-right: 24px;
                margin-left: 8px;
                font-weight: 600;
            }
            &-prev{
                margin-left: 24px;
                margin-right: 8px;
                font-weight: 600;
            }
            &-prev,&-next,&-page-number{
                cursor: pointer;
            }
        }
    }

    &-body{
        box-shadow: 0 10px 20px 0 rgba(231, 231, 231, 0.5);
    }

    &-item{
        height: 48px;
        background: $white;
        border: solid 0.5px rgba($color: #979797, $alpha: 0.5);
        border-left: 0px;
        border-right: 0px;
        position: relative;
        padding: 8px 24px 8px 22px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &:first-child{
            border-top: 0px;
        }
        &:last-child{
            border-bottom: 0px;
        }
        &__alt{
            height: 64px;

            & .list-item__details-product{
                width: auto;
                margin-left: 0px;
                margin-right: 0px;
            }
        }

        &__indicator{
            position: absolute;
            left: 0;
            height: 32px;
            width: 2px;
            top: calc((48px - 32px ) / 2);

            &-active{
                background-color: $refund ;
            }
            &-blocked{
                background-color: $closed;
            }
            &-pending{
                background-color: $pending ;
            }
            &-awaiting{
                background-color: $awaiting;
            }
            &-open{
                background-color: $open;
            }
            &-fulfilled{
                background-color: $fulfilled ;
            }
            &-initial{
                background-color: $initial;
            }
            &-flagged{
                background-color:$flagged ;
            }
            &-closed{
                background-color:$closed ;
            }
            &-refund{
                background-color:$refund ;
            }
            &-release{
                background-color: $released ;
            }
            &-stop{
                background-color: $stop ;
            }
        }
        &__date{
            &-text{
                opacity: 0.5;
                font-size: $font-size-2;
                color: $black;
            }

            & .text--smaller {
                font-weight: 600;
            }
        }
        &__details{
            &-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 0px auto;
            }
            &-product{
                font-size: $font-size-2;
                color: $black;
                font-weight: 700;
                margin-right: 12px;
                text-align: right;
                // width: 133px;
                width: 50%;
                margin-left: auto;
            }
            &-email{
                opacity: 0.5;
                font-size: $font-size-2;
                color: $black;
                margin-left: 12px;
                text-align: left;
                // width: 138px;
                width: 50%;
                margin-right: auto;
            }
            &-product, &-email{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__payment{
            &-container{
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            & .button{
                margin-right: 8px;
            }

            &-price{
                font-size: $font-size-2;
                color: $black;
                font-weight: 700;
                margin-left: 8px;
                text-align: right;
                width: 94px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__more{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 40px;
            cursor: pointer;

            & .dot {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #d8d8d8;
                margin: 0px 4px;
                &:first-child {
                    margin-left: 0px;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }

        &__status{
            margin-left: 24px;
            &-container{
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &-tag{
                padding: 6px 8px;
                width: auto;
                height: 24px;
                border-radius: $border-radius-2;
                font-size: $font-size-1;
                font-weight: 600;
                display: flex;
                flex-direction: row;
                align-items: center;
                &--active{
                    background-color:  $refund-tag;
                }
                &--blocked{
                    background-color: $closed-tag;
                }
                &--pending{
                    background-color:  $pending-tag;
                }
                &--initial{
                    background-color: $initial-tag;
                }
                &--open{
                    background-color: $open-tag;;
                }
                &--awaiting{
                    background-color: $awaiting-tag;
                }
                &--fulfilled{
                    background-color: $fulfilled-tag;
                }
                &--flagged{
                    background-color: $flagged-tag;
                }
                &--closed{
                    background-color: $closed-tag;
                }
                &--refund{
                    background-color: $refund-tag;
                }
                &--release{
                    background-color: $release-tag;
                }
                &--stop{
                    background-color: $stop-tag;
                }
            }

            &-text{
                font-size: $font-size-1;
                font-weight: 600;
                margin-left: 8px;
            }
        }

        &-detail{

            &__header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 48px;
                margin-bottom: 8px;

                &-menu{
                    display: flex;
                    flex-direction: row;

                    &__item{
                        font-size: $font-size-2;
                        border-bottom: 2px solid transparent;
                        padding: 15px 18px;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                        &:first-child{
                            margin-left: 0px;
                        }
                        &:last-child{
                            margin-right: 0px;
                        }

                        &.active{
                           font-weight: 600;
                           border-bottom: 2px solid $orange;
                            
                        }
                    }
                }
            }
            &__container{
                height: auto;
                background-color: transparent;
                position: relative;
                padding: 24px;
                padding-top: 0px;
                box-shadow: 0 10px 20px 0 rgba(231, 231, 231, 0.5);
                background-color: #f4f5f7;
                display: flex;
                flex-direction: column;



                & .list-item__indicator{
                    height: 97%;
                }

                &-close{
                    width: 68px;
                    height: 24px;
                    border-radius: $border-radius-md;
                    background-color: #E7E8EB;
                    align-self: flex-end;
                    font-size: $font-size-1;
                    font-weight: 600;
                    color: $light-gray;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin: auto 0px;
                    margin-left: auto;

                }
            }
            &__main{
                width: 100%;
                height: 100%;
                border-radius: $border-radius-2;
                border: solid 1px #eaecee;
                background-color: $white;

                &-item{
                    width: 100%;
                    height: 48px;
                    padding: 16px 24px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border: solid 0.5px rgba($color: #979797, $alpha: 0.5);
                    border-right: 0px;
                    border-left: 0px;
                    &-alternate{
                        min-height: 48px;
                        height: auto;
                    }
                    &:first-child{
                        border-top: 0px;
                    }
                    &:last-child{
                        border-bottom: 0px;
                    }

                    &__title,&__details{
                        font-size: $font-size-2;
                        font-weight: 600;
                        color: #46505e;
                    }
                    &__details{
                        color: #778597;
                        font-weight: 500;
                    }

                    & .button{
                        margin: 0px 8px;
                        &:first-child{
                            margin-left: 0px;
                        }
                        &:last-child{
                            margin-right: 0px;
                        }
                    }

                    & .button--orange{
                        margin-top: -8px;
                    }

                }
            }

        }

        &__image{
            width: 48px;
            height: 48px;
            object-fit: contain;
            border-radius: $border-radius-1;
            margin-right: 24px;


            &-placeholder{
                background-color: $gainsboro;
            }
        }
        & .button--orange-outline{
            margin-left: 24px;
        }
    }
}