.text{


    &--small{
        font-size: $font-size-3;
        color: $black;
    }
    &--smaller{
        font-size: $font-size-2;
        font-weight: normal;
        color: $black;
    }
    &--smallest{
        font-size: $font-size-1;
        color: $black;
    }

    &--md{
        font-size: $font-size-5;
        color: $black;
    }


    // text colors
    &-font--medium{
        font-family: $medium-font !important;
    }

    &--white{
        color: $white;
    }

    &--gray{
        color: $gray;
    }
    &--dark{
        color: $dark;
    }

    &--orange{
        color: $orange !important;
    }






    &--active{
        color: $refund-text-color;
    }
    &--blocked{
        color: $closed-text-color;
    }
    &--pending{
        color: $pending-text-color;
    }
    &--awaiting{
        color: $awaiting-text-color;
    }
    &--initial{
        color: $initial-text-color;
    }
    &--open{
        color: $open-text-color;
    }
    &--fulfilled{
        color: $fulfilled-text-color;
    }
    &--flagged{
        color: $flagged-text-color;
    }
    &--closed{
        color: $closed-text-color;
    }
    &---refund{
        color: $refund-text-color;
    }
    &--release{
        color: $release-text-color;
    }
    &--stop{
        color: $stop-text-color;
    }
}

.status-text{
    font-weight: 600;
}