@font-face {
    font-family: 'Graphik Regular';
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    src: url('/assets/fonts/Graphik.WOFF') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Merriweather.woff') format('woff');
}


$primary-font: 'Graphik Regular','Helvetica Neue', Arial, sans-serif;
$secondary-font: 'Merriweather',Arial, "Helvetica Neue", Arial, sans-serif;