.user-account{
    &__header{
        margin: 40px 0px;
        .text--md{
            font-family: $medium-font;

        }
    }

    padding-bottom: 200px;
}

.profile-settings{
    display: flex;
    flex-direction: column;
}